.app-footer {
    background-color: #000;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 10px;
}
.app-footer p {
    text-align: center;
}
.promo {
    text-align: center;
}
.promo a {
    margin: auto 5px;
}