.currency-card{
    margin-top: 30px;
    margin-bottom: 30px;
}
.performance-section{
    margin-top:0;
    margin-left:20px;
    font-size: 12px;
}
.performance-section span{
    padding-left:3px;
}